{% extends "flashcard/flashcard.html" %}

{% block card_block %}
    <div class="jumbotron">
        <h2>Welcome to the Flashcard Application</h2>
        <h4>Instructions:</h4>
        <p>On the top menu, create cards, see the active list to update/delete, or launch the random card gen.</p>
    </div>
    <div class="container">
        <table>
            <thead>
                <th>Item No.</th>
                <th>Description</th>
                <th>Priority</th>
            </thead>
            <tr>
                <td>1.</td>
                <td>Create TODO Widget Application</td>
                <td>Medium</td>
            </tr>
            <tr>
                <td>2.</td>
                <td>Complete UpdateView</td>
                <td>High</td>
            </tr>
            <tr>
                <td>3.</td>
                <td>Complete DetailView with Update/Delete Links</td>
                <td>High</td>
            </tr>
            <tr>
                <td>4.</td>
                <td>Add Delay/Animation to various links - maybe page transitions</td>
                <td>Low</td>
            </tr>
        </table>
    </div>
{% endblock %}