{% extends "flashcard/flashcard.html" %}

{% block card_block %}
    <div class="container">
        <h4>Card List (Active)</h4>
        <ul class="card-list">
            {% for card in object_list %}
                <li><a href="{% url 'flashcards:card_detail' pk=card.pk %}">{{ card.title }}</a></li>
            {% empty %}
                <li>No Cards Yet</li>
            {% endfor %}
        </ul>

    {% if is_paginated %}
    <nav>
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-link"><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="page-link disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                <li class="page-link disabled"><span>{{ i }}<span class="sr-only">(current)</span></span></li>
                {% else %}
                <li class="page-link active"><a href="?page={{ i }}"> {{ i }} </a></li>
                {% endif %}
            {% endfor %}
                {% if page_obj.has_next %}
                <li class="page-link"><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                <li class="page-link disabled"><span>&raquo;</span></li>
                {% endif %}
        </ul>
    </nav>
    {% endif %}

    </div>
{% endblock %}