{% extends "flashcard/flashcard.html" %}

{% block card_block %}



<div class="row" style="height: 500px">
    <div class="col align-self-center">
        <div class="box">
            <div class="card-nav"><span class="float-right" id="previous-card-nav"><em>Previous Card</em></span></div>
            <div class="card-content">
                <table>
                    <tr>
                        <td class="card-table" id="cardMainText">WaitingOnCard</td>
                    </tr>
                </table>
            </div>
            <div class="card-nav float-left"><span id="next-card-nav"><em>Next Card</em></span></div>
        </div>
    </div>
</div>

<nav class="navbar navbar-light" style="background-color:gainsboro;">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" id="edit-link" href="">
                    <button class="btn-btn-outline-secondary" type="button">
                    Edit
                    </button>
            </a>
        </li>
    </ul>
</nav>



<script>
    var cardCount = {{ card_count }};
    var cardNumber = Math.ceil(Math.random() * cardCount);
    var cards = {{ cards| safe }};
    var frontIndex = 3 * cardNumber;
    var backIndex = 3 * cardNumber + 1;
    var pkIndex = 3 * cardNumber + 2;
    var showing = "front";
    var prevCardNumber = cardNumber;

    // Initialize First Card
    $("#cardMainText").text(cards[frontIndex]);
    var editLink = "/flashcards/card/edit/"+cards[pkIndex];
    $("#edit-link").attr("href", editLink);

    // BackNav (Save cardNumber)
    $("#previous-card-nav").click(function () {
        cardNumber = prevCardNumber;
        frontIndex = 3 * cardNumber;
        backIndex = 3 * cardNumber + 1;
        pkIndex = 3 * cardNumber + 2;
        $("#cardMainText").text(cards[frontIndex]);
        editLink = "/flashcards/card/edit/"+cards[pkIndex];
        $("#edit-link").attr("href", editLink);
        showing = "front";
    })

    // ForwardNav (Draw new Random Card Number)
    $("#next-card-nav").click(function () {
        prevCardNumber = cardNumber;
        cardNumber = Math.ceil(Math.random() * cardCount);
        frontIndex = 3 * cardNumber;
        backIndex = 3 * cardNumber + 1;
        pkIndex = 3 * cardNumber + 2;
        $("#cardMainText").text(cards[frontIndex]);
        editLink = "/flashcards/card/edit/"+cards[pkIndex];
        $("#edit-link").attr("href", editLink);
        showing = "front";
    })

    // Flip Card
    $(".card-content").click(function () {
        if (showing === "front") {
            $("#cardMainText").text(cards[backIndex]);
            showing = "back";
        } else {
            $("#cardMainText").text(cards[frontIndex]);
            showing = "front";
        }
    });
</script>

{% endblock %}