{% extends "sitenav/base.html" %}

{% load staticfiles %}

{% block header_block %}
    <link rel="stylesheet" href="{% static 'flashcard/css/flashcard_master.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
{% endblock %}

{% block body_block %}
    <div class="" id="app-header">
        <nav class="navbar navbar-light bg-light">
            <h1>Flashcards</h1>
            <form class="form-inline">    
                <a class="button-link" href="{% url 'card_create' %}"><button class="btn btn-outline-secondary" type="button">Create Card</button></button></a>
                <a class="button-link" href="{% url 'card_list' %}"><button class="btn btn-outline-secondary" type="button">Card List</button></button></a>
                <a class="button-link" href="{% url 'card_launch' %}"><button class="btn btn-outline-secondary" type="button">Launch Cards</button></button></a>
            </form>
        </nav>
    </div>
    {% block card_block %}
    {% endblock %}
{% endblock %}

