{% extends "sitenav/base.html" %}

{% block body_block %}
    <h1>Welcome to the PMP Study Guide</h1>

    <div class="container">
            <div class="row">
                <div class="col-sm jumbotron">
                    <h3>Applications</h3>
                    <ul>
                        <li><a href="{% url 'flashcards:card_home' %}">Flashcards</a></li>
                        <li><a href="{% url 'blog:post_list' %}">Notes</a></li>
                        <li>Item_placeholder</li>
                    </ul>
                </div>
                <div class="col-sm">
                    <ul>
                        <li>Item_placeholder</li>
                        <li>Item_placeholder</li>
                        <li>Item_placeholder</li>
                    </ul>
                </div>
            </div>
        </div>

{% endblock %}