{% extends "sitenav/base.html" %}

{% load staticfiles %}

{% block body_block %}
    <!-- navbar     -->
    <div class="" id="app-header">
            <nav class="navbar navbar-light bg-light">
                <h1>Notes!</h1>
                <form class="form-inline">    
                    <a class="button-link" href="{% url 'blog:post_list' %}"><button class="btn btn-outline-secondary" type="button">All Articles</button></button></a>
                    {% if user.is_authenticated %}
                    <a class="button-link" href="{% url 'blog:post_new' %}"><button class="btn btn-outline-secondary" type="button">New Post</button></button></a>
                    <a class="button-link" href="{% url 'blog:drafts' %}"><button class="btn btn-outline-secondary" type="button">Drafts</button></button></a>
                    {% endif %}
                </form>
            </nav>
        </div>

    <!-- Content Block -->
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                <div class="blog_post">
                    {% block content_block %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}